@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #91A7E0;
    height: 100vh;
}


.navbar {
    border-radius: 8px;
    width: 95%;
    margin: 2vh auto;
}

.calendrierContainer {
    background-color: rgba(255, 255, 255, 0.3);
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 16px;
}


tbody tr {
    height: 25vh;
    width: 15vw;
}

.monthSelector {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btn {
    height: 5vh;
    font-style: bold;
}

.calendrierContainer h1 {
    color: rgba(0, 0, 0, 1);
    font-family: inter;
    font-weight: 700;

}

.calendar-header {
    /* background-color: #f2f2f2; */
    font-weight: bold;
    text-align: left;
}

.calendar-header th {
    /* padding: 10px; */
    /* border-radius: 16px; */
    /* border: 1px solid #000000; */
}

.calendar__table {
    width: 100%;
    height: calc(100vh - 128px);
    /* margin: 0 auto; */
}

.calendar__table td {
    /* border: 1px solid black; */
    /* border-radius: 8px; */
    padding: 10px;
    vertical-align: top;
    width: 14.4%;
}

.calendar__table--6weeks td {
    height: 16.66%;
}

.calendar-weekday {
    font-weight: bold;
    font-size: 1.2em;
    color: #1D212D;
}



.calendar__othermonth {
    opacity: 0.3;
}

.calendar__day {
    font-size: 1.2em;
    background-color: rgb(255, 255, 255);

}

.calendar__table .has-course {
    /* background-color: #e0f7fa; */
    color: #012122;
}

.course-time {
    font-size: 0.8em;
    margin-top: 30px;
}

.course-info {
    font-size: 0.8em;
    margin-top: 5px;
    margin-left: 5px;
}

.calendar__day {
    /* width: 100px; */
    /* Ajuste selon tes besoins */
    /* height: 100px; */
    border: 1px solid #ccc;
    /* text-align: center; */
    /* vertical-align: top; */
    /* padding: 5px; */
}

.calendar__day-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Aligne tous les enfants à gauche */
    position: relative;
    /* Permet de positionner le span à droite */
}

.calendar__day-content>span {
    position: absolute;
    /* Le sort du flux normal */
    right: 5;
    /* Le colle à droite */
    top: 0;
    /* L'aligne en haut */
}


.calendar__othermonth {
    background-color: #f0f0f0;
    /* Gris pour les jours hors du mois */
    color: #aaa;
}

.has-course {
    /* background-color: rgb(255, 255, 255); */
    /* Bleu pour les jours avec cours */
}

.no-course {
    /* background-color: white; */
    /* Blanc pour les jours sans cours */
}

.calendar__day-content span {
    /* Tous les jours en gras */
    font-weight: bold;
}

.weekend {
    color: red;
    background-color: rgba(251, 251, 255, 0.7);
}



/* ///////////////////////////upload.php  */



.uploaderContainer {
    background-color: rgba(255, 255, 255, 0.3);
    width: 90%;
    margin: 0 auto;
    padding: 4rem;
    border-radius: 16px;
}

.uploaderContainer h2 {
    color: rgb(0, 0, 0);
    text-align: left;
}

.uploaderContainer input {
    padding: 20px;
    display: block;
}

.uploaderContainer button {
    width: 10%;
    display: block;
    margin: 0 auto;
}


/* ///////////////////////////// login.php */

.bodyLogin {
    background-color: #91A7E0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: inter;
    display: flex;
}

.login-container {
    text-align: center;
    color: #1D212D;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    padding: 4rem;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.199);
    width: 40vw;
    height: 60vh;
}

.login-container h1 {
    margin-bottom: 20px;
    font-family: inter;
    font-weight: 700;
    color: #1D212D;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
    color: #1D212D;
    text-align-last: left;
    margin-left: 40px;

}

.login-container input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    background-color: #1D212D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 4vh;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 700;
    /* Ajout de la transition */
}

.login-container button:hover {
    background-color: #91A7E0;
    color: #1D212D;
}


/* ///////////////////////////set_password.php */

.body_set_password {
    background-color: #91A7E0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: inter;
    display: flex;

}

.set_passwordContainer {
    text-align: center;
    color: #1D212D;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    padding: 4rem;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.199);
    width: 40vw;
    height: 60vh;
}

.set_passwordContainer h1 {
    margin-bottom: 20px;
    font-family: inter;
    font-weight: 700;
    color: #1D212D;
    text-transform: uppercase;
    font-size: 2rem;
}

.set_passwordContainer label {
    display: block;
    margin: 10px 0 5px;
    color: #1D212D;
    text-align-last: left;
    margin-left: 40px;
}

.set_passwordContainer input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select-classe-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 10px auto;
    gap: 10px;
    /* espace entre label et select */
}

.select-classe-group label {
    margin: 0;
    width: 50%;
    text-align: left;
}

.select-classe-group select {
    width: 30%;
}

.set_passwordContainer button {
    background-color: #1D212D;
    text-transform: uppercase;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Ajout de la transition */
    font-weight: 700;
}

.set_passwordContainer button:hover {
    background-color: #91A7E0;
    color: #1D212D;
}