.calendar__table {
    width: 90%;
    height: calc(100vh - 128px);
    margin: 0 auto;
}

.calendar__table td {
    border: 1px solid black;
    padding: 10px;
    vertical-align: top;
    width: 14.4%;
    height: 20%;
}

.calendar__table--6weeks td {
    height: 16.66%;
}

.calendar-weekday {
    font-weight: bold;
    font-size: 1.2em;
    color: black;
}


.calendar__othermonth {
    opacity: 0.3;
}

.calendar__day {
    font-size: 1.2em;
}

.calendar__table .has-course {
    background-color: #e0f7fa;
    color: #006064;
}

.course-info {
    font-size: 0.8em;
    margin-top: 5px;
}